.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed; /* Sit on top of the page content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.centered {
  position: fixed;
}

.modal {
  z-index: 5;
  //border-radius: 16px;
  //box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}
